@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

.bg-title-blue {
  background-color: rgb(2, 0, 116);
}

.bg-window-grey {
  background-color: rgb(194, 194, 194);
}

.fill-window-grey {
  fill: rgb(194, 194, 194);
}

.fill-none {
  fill: none;
}

.border-window-grey {
  border-color: rgb(223, 223, 223);
}
